*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
html, body {
	height: 100%;
}
body {
	font-family: "Open Sans", sans-serif;
	/*font-family: 'Roboto Slab', serif;*/
	font-size: 13px;
	line-height: 1;
}
header.header {
	background-color: #36383b;
	height: 80px;
	padding: 14px 0;
}
.header .logo {
	float: left;
	color: #ff9130;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
	padding-right: 20px;
	margin-top: 7px;
}
.header .logo:after {
	content: "/";
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	font-weight: normal;
	line-height: 0.7;
	font-size: 48px;
	color: #5a5a5a;
}
.header .nav {
	float: right;
	margin: 0;
	padding: 0;
}
.header .nav .nav-item {
	list-style: none;
	float: left;
	margin-right: 9px;
}
.header .nav .nav-item:last-child {
	margin-right: 0;
}
.header .nav .nav-item .nav-item-lnk {
	display: block;
	color: #99a3aa;
	font-size: 15px;
	border: 1px solid transparent;
	background-color: transparent;
	padding: 15px 50px 18px 50px;
}
.header .nav .nav-item .nav-item-lnk:hover {
	background-color: #46474b;
	color: #c8cdd1;
}
.header .nav .nav-item .nav-item-lnk:active {
	background-color: #282a2c;
	color: #fff;
	border-color: #202224;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(64, 66, 70, 1);
	-moz-box-shadow:    0px 1px 0px 0px rgba(64, 66, 70, 1);
	box-shadow:         0px 1px 0px 0px rgba(64, 66, 70, 1);
}
.first-screen {
	height: 500px;
	background-image: url(../img/firstscreen-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: center;
}
.first-screen__h1 {
	margin-top: 97px;
	font-family: "Roboto Slab", serif;
	font-size: 60px;
}
.first-screen__h2 {
	margin-top: 20px;
	font-size: 30px;
}
.btn {
	display: inline-block;
	background-color: #ffde00;
	color: #ac710b;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 1;
	padding: 30px 65px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 5px 0px 0px rgba(232, 188, 12, 1);
	-moz-box-shadow:    0px 5px 0px 0px rgba(232, 188, 12, 1);
	box-shadow:         0px 5px 0px 0px rgba(232, 188, 12, 1);
	position: relative;
}
.btn:hover {
	background-color: #fff000;
	color: #c16400;
	-webkit-box-shadow: 0px 5px 0px 0px rgba(232, 209, 12, 1);
	-moz-box-shadow:    0px 5px 0px 0px rgba(232, 209, 12, 1);
	box-shadow:         0px 5px 0px 0px rgba(232, 209, 12, 1);

}
.btn:active {
	background-color: #ffd200;
	-webkit-box-shadow: 0px -2px 0px 0px rgba(232, 152, 12, 1);
	-moz-box-shadow:    0px -2px 0px 0px rgba(232, 152, 12, 1);
	box-shadow:         0px -2px 0px 0px rgba(232, 152, 12, 1);
	top: 5px;
}
.btn-first-screen {
	margin-top: 41px;
	margin-bottom: 15px;
}
.first-screen__social {
	color: #282a2c;
	background-color: #fff;
	padding: 12px 26px 12px 14px;
}
.first-screen__social__title {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	color: #282a2c;
	vertical-align: super;
	margin-right: 10px;
}
.first-screen__social a {
	display: inline-block;
	margin-right: 15px;
	font-size: 26px;
}
.first-screen__social a:last-child {
	margin-right: 0;
}
.first-screen__social a .icon-facebook {
	color: #375999;
}
.first-screen__social a .icon-twitter {
	color: #07adeb;
}
.first-screen__social a .icon-vk {
	color: #42658d;
}

.forwho {
	background-color: #eff0f4;
	padding: 40px 0;
	color: #282a2c;
}
.forwho__title {
	font-family: "Roboto Slab", serif;
	font-size: 36px;
	text-align: center;
	margin: 10px 0 50px;
}
.forwho__item {
	text-align: center;
}
.forwho__item__img {
	width: 270px;
	height: 270px;
}
.forwho__item__img img {
	width: 100%;
	height: auto;
}
.forwho__item__title {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 24px;
	margin: 35px 0 22px;
}
.forwho__item__text {
	font-size: 16px;
	line-height: 20px;
}
.forwho__sidebar {
	background-color: #fff;
	text-align: center;
	padding: 0 4px;
}
.forwho__sidebar__title {
	color: #f16449;
	font-weight: bold;
	font-size: 30px;
	line-height: 23px;
	text-transform: uppercase;
	padding: 25px 0 19px;
	border-bottom: 3px dotted #d2ccbd;
}
.forwho__sidebar__title__sub {
	font-size: 18px;
	line-height: 20px;
}
.forwho__sidebar__item {
	padding: 12px 0 23px;
	border-bottom: 3px dotted #d2ccbd;
}
.forwho__sidebar__item:last-child {
	border-bottom: none;
}
.forwho__sidebar__item__icon {
	margin: 0 auto 11px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
}
.forwho__sidebar__item__icon.calendar {
	width: 42px;
	height: 40px;
	background-position: -531px 0px;
}
.forwho__sidebar__item__icon.clock {
	width: 40px;
	height: 40px;
	background-position: -574px 0px;
	margin-top: 3px;
}
.forwho__sidebar__item__icon.laptop {
	width: 50px;
	height: 34px;
	background-position: -615px 0px;
	margin-top: 12px;
}
.forwho__sidebar__item__iconsubtext {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.forwho__sidebar__item__value {
	font-size: 30px;
	font-weight: bold;
	margin-top: 5px;
	position: relative;
}
.forwho__sidebar__item__value__sub {
	font-size: 24px;
}
.forwho__sidebar__item__value__imglogo {
	width: 181px;
	height: 25px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: 0px -420px;
	margin: 21px auto 6px;
}
.forwho__sidebar__item__value__imglogo:hover {
	background-position: -182px -420px;
}
.forwho__sidebar__item__value__imgicon {
	width: 17px;
	height: 17px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -666px 0px;
	cursor: pointer;
	position: absolute;
	right: 13px;
	top: -7px;
}
.forwho__sidebar__item__value__imgicon:hover {
	background-position: -684px 0px;
}
.forwho__sidebar__item__value__helper {
	display: none;
	border: 1px solid #33c7b0;
	background-color: #fff;
	color: #282a2c;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	text-align: center;
	padding: 13px 9px 9px;
	width: 228px;
	position: absolute;
	top: -92px;
	left: 50%;
	margin-left: -114px;
}
.forwho__sidebar__item__value__helper:after {
	content: "";
	display: block;
	width: 17px;
	height: 12px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -702px 0px;
	position: absolute;
	bottom: -12px;
	right: 6px;
}
.features {
	color: #282a2c;
	padding: 44px 0 70px;
	background-image: url(../img/features-bg.png);
	background-repeat: repeat;
}
.features__title {
	font-family: "Roboto Slab", serif;
	font-size: 36px;
	text-align: center;
	margin: 0 0 59px;
}
.features__item {}


.popup {
	display: none;
}